<div class="container-fluid anchor" id="about">
  <h1>About Page</h1>
  <h3>I'm a Junior Web Developer</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4" id="profile-img">
      <%= image_tag("profilepic.png", class: "img-responsive") %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="intro">
      <p>
        I'm looking for an opportunity to work in a dynamic environment where I can
         add value and expand my knowledge and skills.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="skills">
      <h3>My Skills</h3>
      <ul id="skill-list">
        <li><i class="devicon-html5-plain-wordmark colored"></i>HTML5</li>
        <li><i class="devicon-css3-plain-wordmark colored"></i>CSS3</li>
        <li><i class="devicon-javascript-plain"></i>Javascript</li>
        <li><i class="devicon-jquery-plain-wordmark colored"></i>jQuery</li>
        <li><i class="devicon-ruby-plain-wordmark colored"></i>Ruby</li>
        <li><i class="devicon-rails-plain-wordmark colored"></i>Ruby on Rails</li>
        <li><i class="devicon-python-plain-wordmark"></i>Python</li>
      </ul>
    </div>
  </div> <!-- /row-->
</div> <!-- /container-->
