<h1>About Page</h1>
<h3>I'm a Junior Web Developer</h3>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4" id="profile-img">
    <%= image_tag("profilepic.png", class: "img-responsive") %>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4" id="intro">
    <p>
      I'm looking for an opportunity to work in a dynamic environment where I can
       add value and expand my knowledge and skills.
    </p>
  </div>
</div>
