<body style="background-color:powderblue;">
<h1>Contact Page</h1>
<p>You can find us in Friedrichstr.</p>
<ul>
  <li>TEL: +4900000000</li>
  <li>Email: bike.berlin@00000.com</li>
  <li>Opening Hours: 8.00am - 5.00pm</li>
</ul>
