<h1>Contact Page</h1>
<div class="address">
  <p>You can find us in Friedrichstr., Berlin</p>
</div>
<div class="contacts">
  <ul>
    <li><span class="glyphicon glyphicon-phone"></span> +4915236611607</li>
    <li><span class="glyphicon glyphicon-envelope"></span> bike.berlin@00000.com</li>
    <li><span class="glyphicon glyphicon-time"></span> Mon-Fri 8.00am - 5.00pm</li>
  </ul>
</div>
