<header>
  <h1>Contact Page</h1>
</header>
<div class="address">
  <p>Address: Kopfstr. 47 Berlin, Germany 12053</p>
</div>
<div class="contacts">
  <ul>
    <li><span class="glyphicon glyphicon-phone"></span> +4915236611607</li>
    <li><span class="glyphicon glyphicon-envelope"></span> alberto.chiorboli@gmail.com</li>
  </ul>
</div>
