<!-- Notes -->
<!-- show the list of all the orders with small image and on the side description
and price -->
<!-- personal information (customer name or ID),
the products ordered (name, ID, price), and the total amount -->
<h3><%= current_user.first_name %> this is your order page</h3> 
