.tab-style {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  margin: 10px;
}
.tab-style th {
  padding: 5px;
}
.tab-style td {
  padding: 5px;
}
.new-product {
  padding-top: 40px;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  text-align: center;
}
.new-product a {
  padding: 5px;
}
.new-product a:hover {
  color: #111;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #f2d18a;
  transition: color, background-color 600ms;
  -webkit-transition: color, background-color 600ms;
}
